@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: times_regular;
  src: url(../public/times-regular.woff);
}
@font-face {
  font-family: times_italic;
  src: url(../public/times-italic.woff);
}
@font-face {
  font-family: times_b16;
  src: url(../public/times-b-16.woff);
}
@font-face {
  font-family: times_b24;
  src: url(../public/times-b-24.woff);
}
@font-face {
  font-family: times_b32;
  src: url(../public/times-b-32.woff);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: times_regular;
  fonnt-weight: 400;
  color: #bbbbbb;
  font-size: 16px;
  background-color: #000084;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
